<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link href="{{ site.github.url }}/assets/style.css?v={{ site.github.build_revision }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="{{ site.github.url }}/">
          {{ site.title }}
        </a>
      </h1>
      <h2 class="lead">{{ site.description }}</h2>
      {% if page.title %}
        <h3>
          <a href="{{ site.github.url }}/{{ page.url }}">
            {{ page.title }}
          </a>
        </h3>
      {% endif %}

      {{ content}}

      <div class="improve">
        <a class="btn btn-primary btn-lg" href="https://github.com/{{ site.github.repository_nwo }}/edit/gh-pages/{{ page.path }}">
          Improve this content
        </a>
      </div>

      <div class="license">
        <a href="http://creativecommons.org/publicdomain/zero/1.0/" rel="license">
          <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" alt="CC0" />
        </a>
      </div>
    </div>

    <script src="{{ site.github.url}}/assets/vendor/anchor-js/anchor.min.js?v={{ site.github.build_revision }}"></script>
    <script>anchors.add('h3, h4, h5, h6');</script>
  </body>
</html>
